{% extends "admin/base.html" %}

{% block content %}
<style>
    h1 {
        text-align: center;
    }
    
    .column {
        margin: auto;
    }
</style>

<section class="section">
    <div class="container">
        <h1 class="title is-3 mb-5">Cambia password</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div>
                {% for category, message in messages %}
                    <div class="notification is-{{ category }} mb-2">
                    {{ message }}
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form id="user-form" static="true" method="POST" action="/admin/changepassword" enctype="multipart/form-data" class="mt-5">
            {{ form.hidden_tag() }}
            <div class="columns is-multiline">
                <div class="column is-half">
                    <div class="field">
                        <label class="label">{{ form.old_password.label }}</label>
                        <div class="control">
                            {{ form.old_password(class="input" + (" is-danger" if form.old_password.errors else "")) }}
                        </div>
                        {% for error in form.old_password.errors %}
                        <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>

                    <div class="field">
                        <label class="label">{{ form.new_password.label }}</label>
                        <div class="control">
                            {{ form.new_password(class="input" + (" is-danger" if form.new_password.errors else "")) }}
                        </div>
                        {% for error in form.new_password.errors %}
                        <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>

                    <div class="field">
                        <label class="label">{{ form.confirm_password.label }}</label>
                        <div class="control">
                            {{ form.confirm_password(class="input" + (" is-danger" if form.confirm_password.errors else "")) }}
                        </div>
                        {% for error in form.confirm_password.errors %}
                        <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="column is-full has-text-centered">
                    <div class="control">
                        <button type="submit" class="button is-primary">
                            <span class="icon">
                                <i class="lni lni-floppy-disk-1"></i>
                            </span>
                            <span> Salva</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block scripts %}
{% endblock %}